<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <title>Web Master Admin</title>

    <!-- Bootstrap -->
    <link href="./mdl/material.css" rel="stylesheet">
   
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.css" />
    
<script src="https://use.fontawesome.com/c6e55ed2d7.js"></script>

    <!-- Custom css -->
    <link href="./css/custom.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <body>
    
    <!-- The drawer is always open in large screens. The header is always shown,
  even in small screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer
mdl-layout--fixed-header">
<header class="mdl-layout__header">
<div class="mdl-layout__header-row">
<div class="mdl-layout-spacer"></div>
<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
      mdl-textfield--floating-label mdl-textfield--align-right">

<a class="link" href="">Notification</a>
<a class="link" href="">Notification</a>
<a href="">Logout</a>
</div>
</div>
</header>
<div class="mdl-layout__drawer">

    <img src="./images/avatar.png" class="img-avatar">
<span class="mdl-layout-title"> <% if(Auth !=""){ %></span>
 <center><h4> <%- Auth  %></h4></center>
  <% }else{%>
  
    <%} %>
   
<nav class="mdl-navigation">
<a class="mdl-navigation__link" href="/User-Dashboard"><span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span> Home </a>

<a class="mdl-navigation__link" href="/Settings"> <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Settings </a>

</nav>
</div>
<main class="mdl-layout__content">
 
<div class="page-content">
    <div class="row profile-info">
    <div class="col-md-4">
      <a href="/News" class="btn btn-primary">Add Campany</a>
      </div>



      <% for(var i=0; i<user.length; i++) {%>

      <div class="col-md-2">
          <img src="<%= user[i].cover %>" class="img-responsive">
          <h5><%= user[i].name %></h5>
          <a href="/Dashboard?id=<%= user[i]._id %>&&uni=<%= user[i].category_id%>&&name=<%= user[i].name %>" class="btn btn-primary ">Manage</a>
          </p>
      </div>
      <% } %>
      </div>
</div>

</main>
</div>
    </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="./js/bootstrap.min.js"></script>
    <!--- custom Js -->
    <script src="./js/custom.js"></script>
    <script src="./mdl/material.js"></script>

   
  </body>
</html>