<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <title>Web Master Admin</title>

    <!-- Bootstrap -->
    <link href="./mdl/material.css" rel="stylesheet">
   
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.css" />
   
<script src="https://use.fontawesome.com/c6e55ed2d7.js"></script>

    <!-- Custom css -->
    <link href="./css/custom.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <body>
    
    <!-- The drawer is always open in large screens. The header is always shown,
  even in small screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer
mdl-layout--fixed-header">
<header class="mdl-layout__header">
<div class="mdl-layout__header-row">
<div class="mdl-layout-spacer"></div>
<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
      mdl-textfield--floating-label mdl-textfield--align-right">
<label class="mdl-button mdl-js-button mdl-button--icon"
   for="fixed-header-drawer-exp">
<i class="material-icons">search</i>
</label>
<div class="mdl-textfield__expandable-holder">
<input class="mdl-textfield__input" type="text" name="sample"
     id="fixed-header-drawer-exp">
</div>
</div>
</div>
</header>
<div class="mdl-layout__drawer">

<span class="mdl-layout-title">  <%= company_name %></span>
<nav class="mdl-navigation">
<a class="mdl-navigation__link" href=""><span class="glyphicon glyphicon-home" aria-hidden="true"></span>  Home </a>
<a class="mdl-navigation__link" href="/services?id=<%=company_id %>"> <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Services</a>
<a class="mdl-navigation__link" href="">  <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>   Info </a>
<a class="mdl-navigation__link" href="/geo-location?id=<%=company_id %>">  <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>   Location </a>
<a class="mdl-navigation__link" href="">  <span class="glyphicon glyphicon-th" aria-hidden="true"></span>   Gallery </a>
<a class="mdl-navigation__link" href="/company-profile?company=<%= company_id %>">  <span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span>    Company Profile </a>
<hr>
<a class="mdl-navigation__link" href=""> <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Help & Support </a>
<a class="mdl-navigation__link" href=""> <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Settings </a>
</nav>
</div>
<div class="mdl-layout__content">
<div class="page-content">
<div class="row profile-info">


    <div class="col-md-12" >

                <div class="row profile-details">
                <h6>  <%= company_name %></h6>
                        <div class="col-md-12">
                             <h6 name="id">   <%= company_id %></h6>
                  <div class="row">
<div class="col-md-12 dash-summary">
<h3>  Working hours</h3>
  

<table class="table">
    <tr>
        <th>
          Days
          </th>
          <th>
              Close/open
              </th>
              <th>
                  Opening time
                  </th>
                  <th>
                      Close time
                      </th>
          </tr>
          <form method="POST" action="/working-hours">
<tr><td> Monday</td>
  <td>
    <input type="text"name="day1" id="day1" value=1 hidden> 
    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-1">
      <input type="checkbox" id="switch-1" class="mdl-switch__input" checked>
      <span class="mdl-switch__label"></span>
    </label>

  </td>
    <td><input id="day-1-0" type="time"  name="day1open" class="info-time" Value = "08:00"/></td>
    <td> <input  id="day-1-1" type="time" name="day1close" class="info-time" Value  = "17:00"/></td>
  </tr>


    <tr><td> Tuesday</td>
      <td>
          <input type="text"name="day2" id="day2" value=1 hidden> 
          <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-2">
              <input type="checkbox" id="switch-2" class="mdl-switch__input" checked>
              <span class="mdl-switch__label"></span>
            </label>

      </td>
      <td><input  id="day-2-0" type="time" name="day2open" class="info-time" Value = "08:00"/></td>
      <td> <input id="day-2-1" type="time"  name="day2close" class="info-time" Value  = "17:00"/></td>
      
      </tr>

        <tr><td> Wenesday</td>
          <td>
              <input type="text"name="day3" id="day3" value=1 hidden> 
              <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-3">
                  <input type="checkbox" id="switch-3" class="mdl-switch__input" checked>
                  <span class="mdl-switch__label"></span>
                </label>

          </td>
          <td><input  id="day-3-0" type="time" name="day3open" class="info-time" Value = "08:00"/></td>
          <td> <input id="day-3-1" type="time" name="day3close"  class="info-time" Value  = "17:00"/></td>
          
          </tr>

            <tr>
              
              
              
              <td> Thusday</td>
              <td>

                  <input type="text"name="day4" id="day4" value=1 hidden> 
                  <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-4">
                      <input type="checkbox" id="switch-4" class="mdl-switch__input" checked>
                      <span class="mdl-switch__label"></span>
                    </label>


              </td>
              <td><input id="day-4-0" name="day4open" type="time" class="info-time" Value = "08:00"/></td>
              <td> <input id="day-4-1" name="day4close" type="time"  class="info-time" Value  = "17:00"/></td>
              </tr>

                <tr><td> friday</td>
                  <td>

                      <input type="text"name="day5" id="day5" value=1 hidden> 
                      <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-5">
                          <input type="checkbox" id="switch-5" class="mdl-switch__input" checked>
                          <span class="mdl-switch__label"></span>
                        </label>

                  </td>
                  <td><input id="day-5-0" name="day5open" type="time" class="info-time" Value = "08:00"/></td>
                  <td> <input id="day-5-1" name="day5close" type="time"  class="info-time" Value  = "17:00"/></td>
                  </tr>

                    <tr><td> Surtday</td>
                      <td>
                          <input type="text"name="day6" id="day6" value=1 hidden> 
                          <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-6">
                              <input type="checkbox" id="switch-6" class="mdl-switch__input" checked>
                              <span class="mdl-switch__label"></span>
                            </label>

                      </td>
                      <td><input id="day-6-0" name="day6open" type="time" class="info-time" Value = "08:00"/></td>
                      <td> <input id="day-6-1" name="day6close"  type="time"  class="info-time" Value  = "17:00"/></td>
                      </tr>

                        <tr><td> Sunday</td>

                          <td>
                            
                              <input type="text"name="day7" id="day7" value=0 hidden> 
                              <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-7">
                              <input type="checkbox" id="switch-7" class="mdl-switch__input">
                              <span class="mdl-switch__label"></span>
                            </label></td>
                            <td><input  id="sunday-0" name="day7open" type="time" class="info-time" Value = "08:00"/></td>
                            <td> <input id="sunday-1" name="day7close" type="time"  class="info-time" Value  = "17:00"/></td>
                          </tr>
  </table>

  <button class="btn btn-primary pull-right">Save</button>
</from>
</div>     
             
</div>
                      

                           
                    
                        
                        
                        </div>
                   
    </div>
   
        <hr>


        </div>

    </div>




    </div>


</div>
</main>
</div>
    </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="./js/bootstrap.min.js"></script>
    <!--- custom Js -->
    <script src="./js/custom.js"></script>
    <script src="./mdl/material.js"></script>

   
  </body>
</html>